.prt {
    box-sizing: border-box;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;

}

.navbar {
    height: 80px;
    background-color: #2e2110;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5%;

}

.navbar_logo {
    font-size: 2rem;
    font-family: "Bungee", cursive;
    cursor: pointer;

}

.nav_menu {
    width: 60vw;
}

.navbar>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-top: 30px;
    display: flex;

    text-align: center;

}


.nav_items {
    height: 100%;
    align-self: center;
    justify-content: center;
    font-size: 18px;
}

.btn_main {
    display: block;

    width: max-content;
    text-align: center;
    color: #fff;
    background: rgb(201, 38, 193);
    border-radius: 0;
    letter-spacing: normal;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 8px 40px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 900ms ease;
}

.btn_main:hover {
    background-color: wheat;
    color: black;
    padding: 12px 50px;
}